<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant</title>
  <link rel="restaurant icon"
    href="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
    type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/e43a9052ab.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comforter&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單" />
          {{#if isAuthenticated}}{{user.name}}`{{/if}}我的餐廳清單
        </a>
        <form action="/" method="post">
            {{#if isAuthenticated}}
          <div class="badge  text-wrap" style="width: 12rem; background-color:rgb(247, 159, 76)">
            <span>
              <a href="/restaurants/new"
                style="font-family: 'Comforter', cursive;font-size: 20px;color:rgb(255, 232, 255);letter-spacing: 3px;text-decoration:none"><i
                  class="fas fa-cookie-bite "></i> Add Restaurant
              </a>
            </span>
          </div>
            {{/if}}
          {{#if isAuthenticated}}
          <a href="/users/logout" class="navbar-logoutBtn">Logout</a>
          {{else}}
          <a href="/users/login" class="navbar-logoutBtn">Login</a>
          {{/if}}
        </form>

      </div>
    </nav>

    <div class="banner"></div>
  </header>
  {{{body}}}
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/jquery-3.5.1.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>